#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  font-size: 40px;
  letter-spacing: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.config {
  display: flex;
  flex-direction: column;
}

.config > div {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.config button {
  padding: 4px 10px;
  font-size: 20px;;
}

.config button.start_game {
  flex: 0 0 100%;
  font-size: 20px;;
}

.board {
  margin: auto;
  border-spacing: 4px;
}

.board td {
  height: 200px;
  width: 200px;
  padding: 0;
  margin: 0;
}

.board div {
  height: 100%;
  width: 100%;
  background-color: green;
  color: white;
  font-size: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board div.empty {
  background-color: white;
}

.board div.movable {
  cursor: pointer;
}

.board div.movable:hover {
  filter: opacity(.8);
}