#root {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

button::first-letter {
  text-transform: uppercase;
}

button {
  font-size: 20px;
  background-color: lightskyblue;
  color: white;
  border-radius: 10px;
  padding: 20px;
  border: 0;
  box-shadow: 5px 5px lightgray;
}

button:hover {
  cursor: pointer;
  filter: opacity(.8);
}

button:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.config {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.config > div {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}

.config > div:first-child {
  border: solid 1px;
}

.config .set_board {
  width: 100%;
  display: inline-flex;
  height: 44px;
  white-space: nowrap;
}

.config .set_board > *:first-child {
  text-align: center;
  flex-grow: 1;
}

.config .set_board > * {
  border-radius: 0;
  box-shadow: none;
  padding: 10px 20px;
  min-width: 20px;
  text-align: center;
}

#board {
  table-layout: fixed;
  width: 100%;
  height: 80%;
}

#board td {
  padding: 0;
  margin: 0;
  border: solid 1px white;
}

#board div {
  height: 100%;
  background-color: lightskyblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#board div.empty {
  background-color: white;
}

#board div.movable {
  cursor: pointer;
}

#board div.movable:hover {
  filter: opacity(.8);
}

.game_buttons {
  margin-top: 10px;
}

.game_buttons button {
  margin-right: 20px;;
}

.win {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.win .congrats {
  font-size: 60px;
  padding-bottom: 20px;
}

.win .score {
  font-size: 30px;
  padding-bottom: 20px;
}