#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  font-size: 40px;
  letter-spacing: 20px;
  margin-top: 20px;;
  margin-bottom: 40px;;
}

.board {
  border-spacing: 4px;
  padding: 0;
  height: 100%;
  display: flex;
}

.board td {
  height: 200px;
  width: 200px;
  background-color: red;
  padding: 0;
  margin: 0;
}

.board div {
  height: 100%;
  width: 100%;
  background-color: green;
}

.board div.empty {
  background-color: red;
}

.board div.movable {
  cursor: pointer;
}

.board div.movable:hover {
  filter: opacity(.8);
}